---
import Icon from "./Icon.astro";
---

<div role="search" class="relative w-full max-w-md">
    <Icon
        name="search"
        class="w-5 h-5 absolute left-8 top-1/2 -translate-y-1/2 text-gray-400 dark:text-white"
    />
    <input
        type="text"
        id="search-input"
        placeholder="Search for a country"
        class="w-full outline-none shadow-md shadow-gray-200 dark:shadow-none bg-white dark:bg-blue-900 pl-16 pr-4 py-4 rounded-md text-gray-950 dark:text-white placeholder:text-gray-400 dark:placeholder:text-gray-50 transition-colors duration-200"
    />
</div>
